.form {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.05);
  padding: 28px;
  width: 100%;
  flex-direction: row !important;
  justify-content: space-between;
  &__flex {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.submit {
  max-width: 200px !important;
  margin-top: 0 !important;
}

@media(max-width: 1100px) {
  .form {
    flex-direction: column !important;
  }

  .submit {
    max-width: 100% !important;
    margin-top: 5px !important;
  }
}