.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  max-width: max-content;

  padding: 14px 35px;

  border-radius: 75px;

  &-rect {
    border-radius: 8px;
  }

  &-accent {
    background: var(--accent);
    color: var(--light);

    transition: color 0.2s linear, background 0.2s linear;

    @media (any-hover: hover) {
      &:hover {
        background: var(--accent-hover);
      }
    }

    &:active {
      background: var(--accent-active);
    }

    &:disabled,
    &.disable {
      background: var(--accent-disable);
      color: var(--light);
      pointer-events: none;
    }
  }

  &-light {
    background: var(--light);
    color: var(--dark);

    transition: color 0.2s linear, background 0.2s linear;

    @media (any-hover: hover) {
      &:hover {
        background: var(--accent);
        color: var(--light);
      }
    }

    &:active {
      background: var(--accent-active);
      color: var(--light);
    }
  }

  &-green {
    background: #30ba70 !important;
  }

  &-trans {
    color: var(--light);
    border: 1px solid #7371ff;
    position: relative;
    overflow: hidden;
    z-index: 1;

    background: transparent;
    transition: background 0.15s linear;

    &:before {
      content: '';
      background: radial-gradient(
        135.32% 94.22% at 50% 50%,
        rgba(255, 255, 255, 0.07) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      transition: opacity 0.15s linear;
    }

    @media (any-hover: hover) {
      &:hover {
        background: rgba(255, 255, 255, 0.26);
        &:before {
          opacity: 1;
        }
      }
    }

    &:active {
      background: rgba(255, 255, 255, 0.17);
      &:before {
        opacity: 1;
      }
    }
  }

  &-ico {
    border-radius: 38px;
    flex-wrap: nowrap;
    width: 38px;
    height: 38px;
    max-width: 38px;
    padding: 0;
    background: #262563;
    color: #a484ff;
    padding: 10px;

    > svg,
    img {
      width: auto;
      height: auto;
    }
  }
}

.link {
  cursor: pointer;

  font-family: var(--poppins);
  font-size: 14px;
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  &-ul {
    text-decoration: underline transparent;
    transition: text-decoration 0.2s linear;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline currentColor;
      }
    }
  }

  &-accent {
    transition: color 0.15s linear;

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);
      }
    }
    &.active,
    &:active {
      color: var(--accent-active);
    }

    &-a {
      color: var(--accent);
      transition: color 0.15s linear;

      @media (any-hover: hover) {
        &:hover {
          color: var(--accent-hover);
        }
      }
      &.active,
      &:active {
        color: var(--accent-active);
      }
    }
  }
}

.suptitle {
  &-section {
    font-family: var(--onest);
    font-size: 15px;
    font-weight: 300;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;

    @media (max-width: 1100px) {
      font-size: 12px;
      line-height: 35px;
      margin-bottom: 8px;
    }
  }
}

.title {
  font-weight: 500;
  font-family: var(--onest);

  &-main {
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 74.4px;

    @media (max-width: 1100px) {
      font-size: 33px;
      line-height: normal;
    }
  }

  &-page {
    font-size: 26px;
    margin-bottom: 20px;
  }

  &-section {
    font-size: 62px;
    letter-spacing: -1px;
    margin-bottom: 10px;
    text-align: center;
    background: linear-gradient(
      174deg,
      #f8fafc 0%,
      rgba(248, 250, 252, 0.7) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &-small {
      font-size: 40px;
      letter-spacing: -1px;
      background: radial-gradient(
        93.64% 259.31% at 50% 50%,
        #fff 35%,
        rgba(255, 255, 255, 0.2) 108%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: 1100px) {
        font-size: 28px;
        letter-spacing: -1.5px;
      }
    }

    @media (max-width: 1100px) {
      font-size: 28px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.5px;
      margin-bottom: 16px;
    }
  }

  &-block {
    font-size: 26px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 24px;

    @media(max-width: 1100px) {
      font-size: 18px;
    }
  }
}

.subtitle {
  &-section {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 65px;
    text-align: center;

    @media (max-width: 1100px) {
      font-size: 12px;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 40px;
    }
  }
}

.text {
  color: var(--gray);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120.607%;
  letter-spacing: 0.12px;

  &-16 {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
  }
}

.content {
  &:not(:last-child) {
    margin-bottom: 80px;
    @media(max-width: 1100px) {
      margin-bottom: 30px;
    }
  }

  &-title {
    @media(max-width: 1100px) {
      margin-bottom: 10px;
    }
  }

  &-text {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    font-size: 14px !important;
  }

  &-img {
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    max-height: 320px;
    object-fit: cover;

    @media(max-width: 1100px) {
      max-height: 215px;
    }
  }

  &-list,
  &-list-item {
    list-style:disc;
  }

  &-list {
    margin-top: 10px;
    &-item {
      margin-left: 30px;
    }
  }
}

.ico {
  &-80,
  &-40,
  &-30,
  &-24,
  &-20,
  &-18,
  &-16,
  &-14,
  &-12,
  &-10 {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.fill {
      fill: currentColor;
    }

    &.stroke {
      stroke: currentColor;
    }
  }

  &-80 {
    width: 80px;
    height: 80px;
  }

  &-40 {
    width: 40px;
    height: 40px;
  }

  &-30 {
    width: 30px;
    height: 30px;
  }

  &-24 {
    width: 24px;
    height: 24px;
  }

  &-20 {
    width: 20px;
    height: 20px;
  }

  &-18 {
    width: 18px;
    height: 18px;
  }

  &-16 {
    width: 16px;
    height: 16px;
  }

  &-14 {
    width: 14px;
    height: 14px;
  }

  &-14 {
    width: 12px;
    height: 12px;
  }

  &-10 {
    width: 10px;
    height: 10px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__flex {
    display: flex;
    gap: 10px;
    width: 100%;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }
  > button {
    margin-top: 10px;
  }
}

.input {
  padding: 20px 28px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.1) inset;

  width: 100%;
  height: 100%;
  display: flex;

  color: var(--light);

  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 400;

  outline: none;

  transition: border-color 0.2s linear;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ &-placeholder {
    font-size: 12px;
    cursor: text;
    top: 50%;
    transform: translate(0, -50%);
  }

  &-placeholder,
  &:focus ~ &-placeholder {
    color: var(--gray);
    font-family: var(--poppins);
    padding: 3px;
    position: absolute;
    top: 0;
    left: 18px;
    transform: translate(0, 0);
    font-size: 8px;
    transition: top 0.15s linear, font-size 0.15s, transform 0.15s linear,
      color 0.15s linear;
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--accent);

      & ~ .input-placeholder {
        color: var(--accent);
      }
    }
  }

  &:focus {
    border-color: var(--accent);
  }

  &:focus ~ &-placeholder {
    color: var(--accent);
  }

  &-outer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 100%;
  }

  &-title {
    font-size: 24px;
    font-weight: 400;
  }

  &-label {
    position: relative;
    height: 100%;
  }

  &-ico {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
  }
}

.textarea {
  resize: none;
  padding: 20px 28px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.1) inset;

  width: 100%;
  height: 100%;
  min-height: 130px;
  display: flex;

  color: var(--light);
  background: transparent;

  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 400;

  outline: none;

  transition: border-color 0.2s linear;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ &-placeholder {
    font-size: 12px;
    cursor: text;
    top: 20px;
  }

  &-placeholder,
  &:focus ~ &-placeholder {
    color: var(--gray);
    font-family: var(--poppins);
    padding: 3px;
    position: absolute;
    top: 0;
    left: 18px;
    font-size: 8px;
    transition: top 0.15s linear, font-size 0.15s, transform 0.15s linear,
      color 0.15s linear;
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--accent);

      & ~ .input-placeholder {
        color: var(--accent);
      }
    }
  }

  &:focus {
    border-color: var(--accent);
  }

  &:focus ~ &-placeholder {
    color: var(--accent);
  }

  &-outer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 100%;
  }

  &-title {
    font-size: 24px;
    font-weight: 400;
  }

  &-label {
    position: relative;
    height: 100%;
  }
}

.select {
  padding: 10px 20px;
  border-radius: var(--desktop-radius);
  border: 1px solid var(--dark);

  appearance: none;

  width: 100%;
  display: flex;

  color: var(--dark);

  font-size: 16px;
  font-weight: 400;

  outline: none;

  transition: border-color 0.2s linear;

  &::placeholder {
    color: var(--gray);
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--accent);
    }
  }

  &:focus {
    border-color: var(--accent);
  }

  &-outer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-title {
    font-size: 24px;
    font-weight: 400;
  }

  &-label {
    position: relative;
  }

  &-ico {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
  }
}

.option {
  font-size: 16px;

  &-placeholder {
    color: #444;
  }
}

.checkbox {
  &-label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: var(--gray);

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);
      }
    }

    &:active {
      color: var(--accent-hover);
    }

    &:focus {
      color: var(--accent);
    }
  }

  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;

  &:checked {
    & + .checkbox-custom > .checkbox-custom-img {
      opacity: 1;
    }
  }

  &-custom {
    position: relative;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    border-radius: 4px;
    border: 1px solid currentColor;

    &-img {
      transition: opacity 0.2s linear;
      opacity: 0;
    }
  }

  &-text {
    font-size: 14px;
    font-weight: 400;
    max-width: 350px;
    line-height: 150%;
    width: 100%;
    color: currentColor;
    transition: color 0.2s linear;

    & > a {
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

.radio {
  &-label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
  }

  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;

  &:checked {
    & + .radio-custom:before {
      opacity: 1;
    }
  }

  &-custom {
    position: relative;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    border: 1px solid var(--dark);

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 10px;
      display: flex;
      background: var(--dark);
      opacity: 0;
      transition: opacity 0.15s linear;
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--accent);
      }
    }

    &:focus {
      border-color: var(--accent);
    }
  }

  &-text {
    font-size: 12px;
    font-weight: 400;
    max-width: 249px;
    line-height: 150%;
    width: 100%;

    & > a {
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

.modal {
  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: rgba(#000, 0.2);
    backdrop-filter: blur(2px);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 0.4s linear, visibility 0.4s linear,
      pointer-events 0.4s linear;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  background: var(--light);
  padding: 20px 30px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 600px;
  max-width: 460px;
  width: 100%;

  &__close {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    & > svg {
      width: inherit;
      height: inherit;
    }
  }

  &__inner,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    width: 100%;
    height: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: 100%;
    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 400px;
      width: 100%;
      margin-bottom: 40px;
      flex: 1 0 auto;
    }
  }

  &__select,
  &__input {
    height: 52px;
  }

  &__input {
    &::placeholder {
      color: #d9d9d9;
    }
  }

  &__btn {
    flex: 0 0 auto;
    font-size: 20px;
    width: 100%;
  }
}

.section {
  margin-bottom: 100px;

  @media (max-width: 1100px) {
    margin-bottom: 80px;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-head {
    max-width: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.fz {
  &-12 {
    font-size: 12px;
  }
}

.fw {
  &-400 {
    font-weight: 400;
  }

  &-700 {
    font-weight: 700;
  }
}

.w {
  &-full {
    max-width: 100%;
    width: 100%;
  }
}

.pos {
  &-r {
    position: relative;
  }
}

.z {
  &-1 {
    z-index: 1;
  }

  &-0 {
    z-index: 0;
  }

  &--1 {
    z-index: -1;
  }
}

.color {
  &-gradient {
    background: linear-gradient(276deg, #d745aa -1.51%, #5c76ff 123.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  transition: opacity 0.2s linear;

  &__ico {
    flex-shrink: 0;
    object-fit: contain;
    fill: currentcolor;
  }

  &__text {
    font-family: var(--poppins);
    font-size: 19.452px;
    font-weight: 500;
    line-height: 23.324px;
    letter-spacing: -0.195px;
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.circle {
  &__1 {
    top: -40px;
    right: calc(100% + 178px);
  }

  &__2 {
    top: -80px;
    left: calc(100% + 178px);
  }

  @media (max-width: 1100px) {
    &__1 {
      filter: blur(226px) !important;
      right: calc(100% + 6px);
    }

    &__2 {
      filter: blur(226px) !important;
      left: calc(100% + 6px);
    }
  }
}
